*{ margin:0%; padding:0%; box-sizing: border-box; }


html, body, #root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("/bg.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}


main{
  height:100%;
  width:100%;
  padding:1rem;
  display: flex;
  gap:1rem;
}

main .left ,
 main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;

}

main .left {
  background-color: #000000a8;
  position: relative;
  overflow: auto;
}

.left.code,
.code pre,
.code pre code {
  font-size:smaller;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #000000;
}



main .left .review{
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: rgb(129, 107, 148);
  color: #000000;
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  /* font-weight: 500; */
  user-select: none;
  border-radius: 0.7rem;
}
main .left .review:hover{
    background: rgb(180, 145, 191);
    color:black;
  box-shadow: 0 5px 0 1.5px rgb(91, 57, 105);
  transition: all 0.1s ease-in;
  
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




main .right {
  /* height: fit-content; */
  background-color:#353535;
  font-size: 12px;
  /* font-family:monospace; */
  font-weight: 400;
  padding: 1rem 1.5rem ;
  overflow: auto;

}
